.update{
     position:absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     margin:auto;
     margin-top: 200px;
     padding: 50px;
     width: 50%;
     height: 50%;
     background-color: rgb(214, 49, 49);
     z-index: 999;
}